
@import '../common/var';
@import '../mixins/bem';
@import '../common/animation';

/*************************  utils start ******************************/ 
@mixin button-variant($color){
  color: #fff;
  background-color: $color;

  @if $color == #fff { color: $--fc-base }

  &:hover {
    outline: none;
    color: #fff;
    background-color: mix(#fff, $color, 30%) ;
    @if $color == #fff { 
      color: $--fc-base;
      background-color: $--bg-light;
    }
  }

  &.is-disabled {
    &,
    &:hover{
      cursor: not-allowed;
      color: #fff;
      background-color: mix($color, #fff);
      @if $color == #fff { 
        color: $--fc-holder;
        background-color: $--bg-light;
      }
    }
  }

  &.is-plain {
    @include button-plain($color);
  }

  &.is-float {
    box-shadow: $--bs-base;
    &:hover {
      background-color: $color;
      box-shadow: $--bs-dark;
      @if $color == #fff { 
        background-color: $--bg-light;
      }
    }
  }
}

@mixin button-plain($color) {
  color: $color;
  background-color: mix(#fff, $color, 90%);
  @if $color == #fff { 
    color: $--fc-base; 
    box-shadow: 0 0 1px #999 inset;
  };
  
  &:hover{
    outline: none;
    color: #fff;
    background-color: $color;
    @if $color == #fff { 
      color: $--fc-base;
      box-shadow: none;
      background-color: $--bg-light;
    }
  }

  &.is-disabled {
    &,
    &:hover{
      cursor: not-allowed;
      color:mix($color, #fff, 60%);
      background-color: mix(#fff, $color, 80%);
      @if $color == #fff { color: $--fc-base };
    }
  }
}

@mixin button-size($vertical-padding, $horizontal-padding, $font-size, $border-radius){
  font-size: $font-size;
  border-radius: $border-radius;
  padding: $vertical-padding $horizontal-padding;

  @include when(circle) {
    padding: $vertical-padding;
  }
}
/*************************  utils end ******************************/ 


@include b(button) {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  background: #fff;
  border: 1px solid $--bc-base;
  color: $--fc-regular;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: normal;
  user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: $--br-base;
  position: relative;
  cursor: pointer;
  border: none;

  & [class*="icon-"]{
    & + span {
      margin-left: 5px;
    }
  }

  &:hover {
    outline: none;
    color: $--color-primary;
    background-color: mix(#fff, $--color-primary, 90%);
  }
  
  // firefox 蓝色边框
  &::-moz-focus-inner {
    border: 0;
  }

  @include when(plain){
    &:hover {
      outline: none;
      background: #fff;
      color: $--fc-regular;
    }
  }

  @include when(disabled){
    & {
      cursor: not-allowed;
    }
  }
  
  @include when(loading){
    pointer-events: none;
  }

  @include when(circle){
    border-radius: 50%;
    padding: 12px;
  }

  @include when(round){
    border-radius: 20px;
    padding: 12px;
  }

  @include m(default){
    @include button-variant(#fff)
  }

  @include m(primary){
    @include button-variant($--color-primary)
  }

  @include m(success){
    @include button-variant($--color-success)
  }

  @include m(info){
    @include button-variant($--color-info)
  }

  @include m(warning){
    @include button-variant($--color-warning)
  }

  @include m(danger){
    @include button-variant($--color-danger)
  }

  @include m(medium){
    // vertical-padding horizontal-padding font-size border-radius
    @include button-size(10px, 20px, 14px, 3px);
  }

  @include m(small){
    @include button-size(9px, 15px, 12px, 2px)
  }

  @include m(mini){
    @include button-size(7px, 15px, 12px, 2px)
  }

  @include when(ripple){
    overflow: hidden;
    &::before{
      content: '';
      position: absolute;
      width: 200px;
      height: 200px;
      left: 50%;
      top: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%) scaleX(0);
      background-color: rgba(255, 255, 255, 0.3);
    }
    &:focus {
      &::before {
        animation: scale 1.7s ease-out backwards;
      }
    }
  }

  @include m(text){
    color: #333;
    background-color: transparent;
    padding: 0;

    &:hover {
      background-color: transparent;
    }

    &.is-line {
      transition: color .2s .1s;
      &::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 1px;
        transform: scaleX(0);
        background-color: $--color-primary;
        transition: transform .2s ease-in-out;
      }
      
      &:hover {
        &::before{
          transform: scaleX(1);
        }
      }
      &:focus {
        &::before {
          transform: scaleX(0);
        }
      }
    }
  }
}

.icon-loading{
  display: inline-block;
  animation: rotate 1s linear infinite;
}