
@import '../common/var';
@import '../mixins/mixins';

/*******************************************************/ 
@mixin button-variant($color){
  color: #fff;
  border-color: $color;
  background-color: $color;

  &:hover,
  &:focus,
  &:active{
    outline: none;
    color: #fff;
    border-color: mix(#fff, $color, 30%);
    background-color: mix(#fff, $color, 30%) ;
  }

  &.is-disabled {
    &,
    &:hover,
    &:focus{
        cursor: not-allowed;
        color: #fff;
        border-color: mix($color, #fff);
        background-color: mix($color, #fff);
    }
  }

  &.is-float{
    box-shadow: $--box-shadow-lighter;
    &:hover,
    &:focus,
    &:active{
      background: $color;
      border: 1px solid transparent;
      box-shadow: $--box-shadow-dark;
    }
  }

  &.is-plain {
    @include button-plain($color);
  }
}

@mixin button-plain($color) {
  color: $color;
  border-color: mix(#fff, $color, 20%);
  background-color: mix(#fff, $color, 90%);

  &:hover,
  &:focus,
  &:active{
    outline: none;
    color: #fff;
    border-color: $color;
    background-color: $color;
  }
  &.is-disabled {
    &,
    &:hover,
    &:focus{
      cursor: not-allowed;
      color:mix($color, #fff, 60%);
      border-color: mix(#fff, $color, 60%);
      background-color: mix(#fff, $color, 80%);
    }
  }
}

@mixin button-size($vertical-padding, $horizontal-padding, $font-size, $border-radius){
  font-size: $font-size;
  border-radius: $border-radius;
  padding: $vertical-padding $horizontal-padding;

  @include when(circle) {
    padding: $vertical-padding;
  }
}
/*******************************************************/

@include b(button) {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  background: #fff;
  border: $--border-base;
  border-color: $--border-color-base;
  color: $--color-text-regular;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: normal;
  user-select: none;
  padding: 12px 20px;
  font-size: $--font-size-base;
  border-radius: $--border-radius-base;
  position: relative;
  cursor: pointer;

  & + & {
    margin-left: 10px;
  }

  & [class*="icon-"]{
    vertical-align: middle;
    & + span {
      margin-left: 5px;
    }
  }

  &:hover,
  &:focus,
  &:active{
    outline: none;
    color: $--color-primary;
    border-color: $--color-primary-light-7;
    background-color: $--color-primary-light-9;
  }
  
  // firefox 蓝色边框
  &::-moz-focus-inner {
    border: 0;
  }

  @include e(ripple){
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    .circle {
      background: rgba(255, 255, 255, 0.3);
      border-radius: 50%;
      animation: scale .4s ease-out;
    }
  }

  @include when(plain){
    &:hover,
    &:active, 
    &:focus {
      outline: none;
      background: #fff;
      border-color: $--color-primary-light-2;
      color: $--color-text-regular;
    }
  }

  @include when(disabled){
    &,
    &:hover,
    &:focus{
      cursor: not-allowed;
      color: $--color-text-secondary;
      border-color: $--border-color-base;
      background-color: #fff;
    }
     
  }
  
  @include when(loading){
    pointer-events: none;
  }

  @include when(circle){
    border-radius: 50%;
    padding: 12px;
  }

  @include when(round){
    border-radius: 20px;
    padding: 12px;
  }

  @include e(line){
    width: 100%;
    height: 1px;
    background: $--color-primary;
    margin-top: 3px;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
  }

  @include when(line){
    &:hover {
      .z-button__line{
        transform: scaleX(1)
      }
    }
  }

  @include m(default){
    .circle {
      background: rgba($color: #000000, $alpha: 0.1);
    }
  }

  @include m(primary){
    @include button-variant($--color-primary)
  }

  @include m(success){
    @include button-variant($--color-success)
  }

  @include m(info){
    @include button-variant($--color-info)
  }

  @include m(warning){
    @include button-variant($--color-warning)
  }

  @include m(danger){
    @include button-variant($--color-danger)
  }

  @include m(medium){
    // vertical-padding horizontal-padding font-size border-radius
    @include button-size(10px, 20px, 14px, 3px);
  }

  @include m(small){
    @include button-size(9px, 15px, 12px, 2px)
  }

  @include m(mini){
    @include button-size(7px, 15px, 12px, 2px)
  }

  @include m(text){
    color: $--color-primary;
    border-color: transparent;
    background-color: transparent;

    &:hover,
    &:focus,
    &:active{
      border-color: transparent;
      background: transparent;
      box-shadow: transparent;
    }
    
    &.is-float{
      &:hover,
      &:focus,
      &:active{
        background-color: $--background-color-light;
      }
    }

    &.is-disabled{
      &,
      &:hover,
      &:focus{
        border-color: transparent;
      }
    }
  }
}

.icon-loading{
  display: inline-block;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {transform: rotate(0deg)}
  to {transform: rotate(-360deg)}
}

@keyframes scale {
  from { 
    transform: translate(-50%,-50%) scale(0);
    opacity: 1;
  }
  to { 
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}