@import "../mixins/bem";
@import "../common/var";

@include b(input) {
    position: relative;
    display: inline-block;
    width: 100%;
    color: $--fc-base;
    font-size: 16px;
    cursor: pointer;
    
    @include e(label){
        font-size: 12px;
        color: $--fc-regular;
        transition: all ease .3s;
        display: inline-block;
        
        @include when(focus){
            color: $--color-primary-dark;
        }
    }

    @include m(default multiple){
        padding: $input-p;
        width: 100%;
        line-height: $input-lh;
        border: none;
        border-bottom: 1px solid rgb(83, 81, 81);
        transition: all ease .3s;
        box-sizing: border-box;
        font-size: 16px;
        flex: 1;
        &::placeholder{
            color: $--fc-holder;
        }

        &:hover{
            border-color: rgb(83, 81, 81);
            box-shadow: 0 1px 0 0 rgb(83, 81, 81);
        }
        
        &:focus{
            border-color: $--color-primary-dark;
            box-shadow: 0 1px 0 0 $--color-primary-dark;
        }

    }
    
    @include m(normal){
        border: 1px solid transparent;
        box-shadow: none;
        padding: $input--normal-p;
        background-color: $--bg-base;
        border-radius: $--br-base;
        border: transparent;
        &:hover,
        &:focus{
            border: transparent;
            box-shadow: none;
        }
    }

    @include when(expand){
        transition: all ease-in-out .3s;
    }

    @include e(before){
        position: absolute;
        left: 0;
        bottom: 4px;
    }

    @include e(end){
        position: absolute;
        right: 0;
        bottom: 4px;
    }

    @include e(helper-text){
        font-size: 12px;
    }
    
    @include e(limit){
        justify-self: flex-end;
        font-size: 12px;
    }
    
    @include e(under){
        position: absolute;
        font-size: 12px;
        width: 100%;
        bottom: -20px;
    }

    @include when(under){
        margin-bottom: 20px;
    }

    @include when(disabled){
        & > * {
            &:hover{
                cursor: not-allowed;
                box-shadow: none;
            }
        }
    }
    
    @include when(prefix){
        .z-input--default {
            padding-left: calc(1em + 3px);
        }
    }
    
    @include when(suffix){
        .z-input--default {
            padding-right: calc(1em + 3px);
        }
    }

    @include when(disabled){
        // pointer-events: none;
    }
}

