@import "../mixins/bem";
@import "../common/var";
@import "../common/reset";
@import "../common/transition";
@import "../common/animation";

@include b(loading) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
    transition: opacity 0.3s;

    @include e(bar){
        width: 0%;
        height: 2px;
        background: $loading-bg;
        transition: width 300ms ease-in;
        
        &.end {
            animation: stretch-horizontal 200ms ease-in;
        }
    }

    @include e(spin){
        position: absolute;
        top: 7px;
        left: 7px;
        width: $loading-w;
        height: $loading-w;
        border: 1px solid $loading-bg;
        border-radius: 50%;
        animation: rotate .4s linear infinite;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: -1px;
            width: 8px; 
            height: 8px;
            background-color: #fff;
        }
    }
    
    @include e(text) {
        
    }
}
