@keyframes rotate {
  from {transform: rotate(0deg)}
  to {transform: rotate(-360deg)}
}


@keyframes stretch-horizontal {
    100% {
        width: 100%;
    }
}

@keyframes loading-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  80% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40px;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120px;
  }
}

@keyframes scale {
  from { 
    transform: translate(-50%,-50%) scale(0);
    opacity: 1;
  }
  to { 
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}