/* 变量约定
    公共：$--[key]-[修饰符]
    组件：$[block]-key;   
         $[block]__[element]-[key];
         $[block]__[element]-[status]-[key];
         $[block]__[element]--[modifier]-[key];  
*/ 

/* 修饰符约定：
    颜色：primary success info warning danger 
    其他：base表默认，其他程度可分为四级 light lighter dark darker
        （还有一些具有样式特性的）
*/ 

/* Alias
    w: width
    h: height
    bg: background-color
    fz: font-size
    fw: font-weight
    lh: line-height
    b: border
    bc: border-color
    bw: border-width
    br: border-radius
    bs: box-shadow
    p: padding
    ph: padding 水平
    pv: padding 垂直
    m: margin
    mh: margin 水平
    mv: margin 垂直
*/ 

/**************************  global  **************************/ 
/* color */ 
$--color-primary:#FF4081;
$--color-success: #67C23A;
$--color-info: #409EFF;
$--color-warning: #E6A23C;
$--color-danger: #F56C6C;

$--color-primary-lighter: #f7649529;
$--color-primary-light: #ff408180;
$--color-primary-dark: #ca055e;

/* font-color */ 
$--fc-base: #303133;
$--fc-regular: #606266;
$--fc-light: #909399;
$--fc-holder: #C0C4CC;

/* gradient-color */ 
$--gradient-grey: linear-gradient(to right, #bdc3c7, #2c3e50);
$--gradient-candy: linear-gradient(to right,#D3959B, #BFE6BA);

/* background */
$--bg-base: #FAFAFA;
$--bg-light: rgba(0,0,0,.1);

/* border/radius */
$--bc-base: #DCDFE6;
$--br-base: 2px;

/* box-shadow */
$--bs-base: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
$--bs-dark: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
$--bs-spread: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);

/* font */
$--fz-20: 20px;
$--fz-18: 18px;
$--fz-16: 16px;
$--fz-14: 14px;
$--fz-12: 12px;
$--fw-base: 400;
$--fw-medium: 500;
$--fw-bold: 700;

/* icon */ 
$icon-color: #666;

/**************************  components  **************************/ 

/* button */

/* input */
$input-p: 6px 0 4px; 
$input-lh: 20px;
$input--normal-p: 7px 10px; 

/* switch */
$switch-w: 36px;
$switch-h: 14px;
$switch-br: 14px;
$switch-bg: rgba(0,0,0,.38);
$switch__button-w: 20px;
$switch__button-bg: $--bg-base;
$switch-disabled-bg:rgba(0,0,0,.12);
$switch__button-disabled-bg: #bdbdbd; 

$switch-normal-w: 40px;
$switch-normal-h: 18px;
$switch-normal-button-w: 14px;
$switch-normal-br: 14px;

/* loading */
$loading-w: 20px; 
$loading-bg: $--color-success;